<section class="s4 cta">
    <div class="container bg-azul py-5">
        <div class="col-12">
            <h2 class="m-0">Quer se juntar a nós?</h2>
            <p class="m-0 py-3"></p>
        </div>
    </div>
</section>