<% include partials/header.ejs %>
<main>
    <section class="s1 bg-azul text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-7">
                    <h1 class="text-white title"><span>Por que,</span>determinação é o nosso Forte <svg
                            xmlns="http://www.w3.org/2000/svg" width="22" height="73" viewBox="0 0 22 73"><text
                                transform="translate(0 55)" fill="#555" font-size="52"
                                font-family="Poppins-ExtraBold, Poppins" font-weight="800" letter-spacing="0.1em">
                                <tspan x="0" y="0">!</tspan>
                            </text></svg></h1>
                    <p class="subtitle">Somos a maior rede social que conecta empreendedores a mentores, empreendedores
                        colaborativos, investidores e parceiros.</p>
                    <div class="d-flex">
                        <a href="#" class="btn btn-base btn-white mb-3 mb-md-0 mr-0 mr-md-4">Conheça mais</a>
                        <a href="#" class="btn btn-base btn-outline">Assista ao vídeo<i class="fa fa-play pl-3"></i></a>
                    </div>
                    <img src="image/determinacao.png" class="d-block d-sm-none" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="s2 proposito">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6" data-image>
                    <img src="image/proposito.png" alt="Propósito Rede Determinados">
                </div>
                <div class="col-12 col-md-6" data-content>
                    <h2 class="title"><span class="d-block">Nosso</span>Propósito<span class="text-dark">.</span></h2>
                    <div data-content-item class="py-3">
                        <p class="mb-0">Ajudamos empreendedores que tem um boa ideia, projeto ou startup em andamento,
                            porém
                            se esbarram nas principais dificuldades que são: planejamento, burocracia, financeiro, entre
                            outras.</p>
                        <p class="mb-0">Após a mentoria o projeto e/ou startup apresentando viabilidade e precise de
                            investimento será apresentado a investidores para avaliação e possível aporte dessa
                            necessidade.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="s3 colaboracao">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6" data-content>
                    <h2 class="title"><span class="d-block">Ecomia</span>Colaborative<span class="text-dark">.</span>
                    </h2>
                    <div data-content-item class="py-3">
                        <p class="mb-0">Ajudamos empreendedores que tem um boa ideia, projeto ou startup em andamento,
                            porém se esbarram nas principais dificuldades que são: planejamento, burocracia, financeiro,
                            entre outras.</p>
                        <p class="mb-0">Após a mentoria o projeto e/ou startup apresentando viabilidade e precise de
                            investimento será apresentado a investidores para avaliação e possível aporte dessa
                            necessidade.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6" data-image>
                    <img src="image/colaboracao.png" alt="Rede de colaboração Determinados">
                </div>
            </div>
        </div>
    </section>
    <% include partials/cta-junte-a-nos.ejs %>
</main>
<% include partials/footer.ejs %>